* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: 'Quicksand', sans-serif;
	color: #231e12;
}

h1 {
	color: #ffffff;
	font-size: 2.3rem;
	padding-bottom: 5%;
}

h2 {
	font-size: 1.8rem;
	padding-bottom: 3%;
	text-align: center;
}

p {
	font-size: 1.1rem;
	line-height: 2.2rem;
}

span {
	color: #d4af37;
}

/*===================
*
* Header/Navigation
*
=====================*/

header {
	background: #231e12;
	position: fixed;
	width: 100%;
	padding: 3% 0;
}

nav img {
	width: 100%;
}

.desktop-menu {
	display: none;
}

.hamburger-logo {
	max-width: 25%;
	padding-left: 3%;
}

/* ----------------- HAMBURGER MENU STYLES ----------------- */

.hamburger{
  background:none;
  position:fixed;
  top:0;
  right:0;
  line-height:45px;
  padding:2px 15px 0px 15px;
  color:#d4af37;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.cross{
  background:none;
  position:fixed;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#d4af37;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
.menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background:#231e12;  position:absolute; text-align:center; font-size:12px;}
.menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
.menu li {display: block;   padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu li:hover{display: block;    background:#ffffff; padding:15px 0 15px 0; border-bottom:#dddddd 1px solid;}
.menu ul li a { text-decoration:none;  margin: 0px; color:#d4af37;}
.menu ul li a:hover {  color: #d4af37; text-decoration:none;}
.menu a{text-decoration:none; color:#666;}
.menu a:hover{text-decoration:none; color:#666;}

/* ----------------- HAMBURGER MENU STYLES ----------------- */

/*===================
*
* Hero Image Section
*
=====================*/

.hero-image-index {
  background-image: url('../images/hero-index.jpg');
  background-size: cover;
  padding: 35% 0;
  text-align: center;
}

.hero-image-about {
  background-image: url('../images/hero-about.jpg');
  background-size: cover;
  padding: 35% 0;
  text-align: center;
}

.button-hero {
  text-decoration: none;
	font-weight: 500;
  color: #ffffff;
  padding: 1.8% 2.5%;
	border: #ffffff solid 0.095rem;
	border-radius: 0.3rem;
}

.hero-image-about a:hover,
.hero-image-index a:hover {
  background: rgba(212, 175, 55, 0.2);
  transition: .4s;
}

/*===================
*
* Page Description
*
=====================*/

.page-description {
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
	padding: 10% 0 15% 0;
}

/*===================
*
* Let's Go Links/Blocks
*
=====================*/

.lets-go {
  text-align: center;
}

.go-link {
  padding-bottom: 20%;
}

.go-link img {
  width: 90%;
}

.go-link p {
  width: 75%;
  margin: 0 auto;
  padding: 4% 0 5% 0;
}

.button-go {
  text-decoration: none;
  padding: 1.8% 2.5%;
	color: #ffffff;
	font-weight: 500;
	background: #d4af37;
	border: #d4af37 solid 0.095rem;
	border-radius: 0.3rem;
}

.go-link a:hover {
	color: #231e12;
	background: #ffffff;
	padding: 1.8% 2.5%;
  transition: .4s;
}

/*===================
*
About Us - Team Members
*
=====================*/

figure img {
	width: 90%;
}

article {
	text-align: center;
	padding-bottom: 15%;
}

aside {
	text-align: center;
	padding-bottom: 20%;
}

aside p,
article p {
	width: 85%;
	margin: 0 auto;
	padding-bottom: 5%;
}

figcaption {
	padding-top: 2%;
}

/*===================
*
* Footer
*
=====================*/

footer {
  background: #231e12;
  text-align: center;
  padding: 7% 0;
}

footer p {
	color: #ffffff;
}

footer img {
	max-width: 45px;
	padding: 1%;
}

/* ----------------- START 499PX MEDIA QUERY ----------------- */

@media (max-width: 499px) {

	header {
		padding: 5% 0;
	}

	h1 {
		font-size: 1.5rem;
		padding-bottom: 7%;
	}

	p {
		font-size: 0.95rem;
		line-height: 2.2rem;
	}

	h2 {
		font-size: 1.3rem;
		padding-bottom: 8%;
	}

	.button-hero {
		font-weight: 500;
		border: #ffffff solid 0.08rem;
	}

	footer img {
		max-width: 30px;
	}

	figcaption {
		font-size: 0.8rem;
	}

}

/* ----------------- END 499PX MEDIA QUERY ----------------- */

/* ----------------- START 500PX-647PX MEDIA QUERY ----------------- */

@media (min-width: 500px) and (max-width: 647px) {

	.go-link p {
		max-width: 375px;
	}

}

/* ----------------- END 500PX-647PX MEDIA QUERY ----------------- */

/* ----------------- START 700PX MEDIA QUERY ----------------- */

@media (min-width: 700px) {

	.hamburger {
		padding-top: 1.5%;
	}

	.go-link p {
		max-width: 510px;
	}

}

/* ----------------- END 700PX MEDIA QUERY ----------------- */

/* ----------------- START 777PX MEDIA QUERY ----------------- */

@media (min-width:777px) {

	h1 {
		font-size: 3.3rem;
	}

	.button-go {
		padding: 1.3% 2%;
		font-size: 1.2rem;
	}

}

/* ----------------- END 777PX MEDIA QUERY ----------------- */

/* ----------------- START 1060PX MEDIA QUERY ----------------- */

@media (min-width: 1060px) {

	.menu, .hamburger, .cross {
	  display: none;
  }

	.hamburger-logo {
		display: none;
	}

	header {
		padding: 1.5% 0;
	}

	.desktop-menu {
		display: block;
	}

	nav a:hover {
		color: #d4af37;
		transition: .5s;
	}

	.main-nav {
	  display: -webkit-flex;
	  display: flex;
		margin: 0 3%;
	}

	.main-nav li:first-child {
	  margin-right: auto;
		max-width: 250px;
	}

	.main-nav a {
	  color: #ffffff;
		font-weight: bold;
		font-size: 1.5rem;
		text-decoration: none;
	}

	ul {
		list-style: none;
	}

	li {
		padding: 1%;
	}

	header nav .active {
		color: #d4af37;
	}

	h1 {
		font-size: 4.5rem;
	}

	.button-hero {
		padding: 1% 2%;
		border: #ffffff solid 0.095rem;
		border-radius: 0.3rem;
	}

}

/* ----------------- END 1060PX MEDIA QUERY ----------------- */

/* ----------------- START 1100PX MEDIA QUERY ----------------- */

@media (min-width: 1100px) {

	.lets-go {
		display: flex;
		justify-content: center;
		flex-direction: row-reverse;
	}

  figure {
		max-width: 800px;
		margin: 0 auto;
	}

  article p,
	aside p {
		max-width: 1500px;
	}

	.button-hero {
		font-size: 1.4rem;
	}

	.button-go {
		 padding: 2% 4.5%;
	}

	footer {
		padding: 2% 0;
	}

}

/* ----------------- END 1100PX MEDIA QUERY ----------------- */

/* ----------------- START 1100PX-1443PX MEDIA QUERY ----------------- */

@media (min-width: 1100px) and (max-width: 1443px) {

	.go-link p {
		max-width: 260px;
	}

}

/* ----------------- END 1100PX-1443PX MEDIA QUERY ----------------- */

/* ----------------- START 1300PX MEDIA QUERY ----------------- */

@media (min-width: 1300px) {

	.page-description {
		max-width: 1210px;
		padding: 5% 0 9% 0;
	}

	article p,
	aside p {
		max-width: 1210px;
		padding-bottom: 2%;
	}

	.go-link {
		padding-bottom: 10%;
	}

  aside,
	article {
		padding-bottom: 10%;
	}

}

/* ----------------- END 1300PX MEDIA QUERY ----------------- */

/* ----------------- START 1444PX-2010PX MEDIA QUERY ----------------- */

@media (min-width: 1444px) and (max-width: 2010px) {

	.go-link p {
		max-width: 402px;
	}

}

/* ----------------- END 1444PX-2010PX MEDIA QUERY ----------------- */

/* ----------------- START 2000PX MEDIA QUERY ----------------- */

@media (min-width: 2000px) {

	.button-hero {
		padding: .8% 1.5%;
		border: #ffffff solid 0.095rem;
		border-radius: 0.3rem;
	}

	h1 {
		padding-bottom: 3%;
	}

	h2 {
		font-size: 2.5rem;
	}

	.button-go {
		 padding: 1.5% 4%;
	}

  .page-description,
	aside,
	article {
		padding-bottom: 5%;
	}

}

/* ----------------- END 2000PX MEDIA QUERY ----------------- */
